### see also ~/.config/mr/available.d/network.example

## Tor service
[$HOME/src/github.com/voriazu/torctl]
checkout =
		git clone https://github.com/voriazu/torctl.git torctl &&
		git -C $HOME/src/github.com/voriazu/torctl remote add bridged https://github.com/JohnMcLaren/torctl-bridged.git &&
		git -C $HOME/src/github.com/voriazu/torctl remote add upstream https://github.com/BlackArch/torctl.git
link =
		ln -sfn $PWD $HOME/code/torctl.link
		ln -sfn $HOME/src/proxy $HOME/code/torctl.link/proxy.link


# vi: ft=ini syntax=bash
