
[$HOME/src/sr.ht/cnx/dotfiles]
checkout = git clone https://git.sr.ht/~cnx/dotfiles dotfiles

#nix-home
[$HOME/src/github.com/aos/home.nix.git]
checkout = git clone https://github.com/aos/home.nix.git home.nix.git

[$HOME/src/github.com/benbrastmckie/.dotfiles.git]
checkout = git clone https://github.com/benbrastmckie/.dotfiles.git .dotfiles.git

[$HOME/src/github.com/benbrastmckie/.config.git]
checkout = git clone https://github.com/benbrastmckie/.config.git .config.git

#zsh
[$HOME/src/github.com/unixorn/zsh-quickstart-kit.git]
checkout = git clone https://github.com/unixorn/zsh-quickstart-kit.git zsh-quickstart-kit.git

[$HOME/src/github.com/geometry-zsh/geometry.git]
checkout = git clone https://github.com/geometry-zsh/geometry.git geometry.git

[$HOME/src/github.com/denisidoro/cheats.git]
checkout = git clone https://github.com/denisidoro/cheats.git cheats.git
[$HOME/src/github.com/papanito/cheats.git]
checkout = git clone https://github.com/papanito/cheats.git cheats.git
[$HOME/src/github.com/mrVanDalo/navi-cheats.git]
checkout = git clone https://github.com/mrVanDalo/navi-cheats.git navi-cheats.git
[$HOME/src/github.com/infosecstreams/cheat.sheets.git]
checkout = git clone https://github.com/infosecstreams/cheat.sheets.git cheat.sheets.git

#dotfiles
[$HOME/src/github.com/drduh/config.git]
checkout = git clone https://github.com/drduh/config.git config.git

[$HOME/src/github.com/infokiller/config-public.git]
checkout = git clone https://github.com/infokiller/config-public.git config-public.git

[$HOME/src/github.com/zanshin/dotfiles.git]
checkout = git clone https://github.com/zanshin/dotfiles.git dotfiles.git 
[$HOME/src/github.com/zanshin/bin.git]
checkout = git clone https://github.com/zanshin/bin.git bin.git
[$HOME/src/github.com/omerxx/dotfiles.git]
checkout = git clone https://github.com/omerxx/dotfiles.git dotfiles.git
[$HOME/src/github.com/tadmccorkle/dotfiles.git]
checkout = git clone -b cfg https://github.com/tadmccorkle/dotfiles.git dotfiles.git
[$HOME/src/github.com/weihanglo/dotfiles.git]
checkout = git clone https://github.com/weihanglo/dotfiles.git dotfiles.git
[$HOME/src/github.com/2KAbhishek/Dotfiles.git]
checkout = git clone https://github.com/2KAbhishek/Dotfiles.git Dotfiles.git
[$HOME/src/github.com/ChristianChiarulli/Machfiles.git]
checkout = git clone https://github.com/ChristianChiarulli/Machfiles.git Machfiles.git
[$HOME/src/github.com/Traap/dotfiles.git]
checkout = git clone https://github.com/Traap/dotfiles.git dotfiles.git
[$HOME/src/github.com/adalessa/dotfiles.git]
checkout = git clone https://github.com/adalessa/dotfiles.git dotfiles.git
[$HOME/src/github.com/dane-harnett/dotfiles.git]
checkout = git clone https://github.com/dane-harnett/dotfiles.git dotfiles.git
[$HOME/src/github.com/endoze/dotfiles.git]
checkout = git clone https://github.com/endoze/dotfiles.git dotfiles.git
[$HOME/src/github.com/mathletedev/dotfiles.git]
checkout = git clone https://github.com/mathletedev/dotfiles.git dotfiles.git
[$HOME/src/github.com/mischavandenburg/dotfiles-everforest.git]
checkout = git clone https://github.com/mischavandenburg/dotfiles-everforest.git dotfiles-everforest.git
[$HOME/src/github.com/jtuz/dotfiles.git]
checkout = git clone https://github.com/jtuz/dotfiles.git dotfiles.git
[$HOME/src/github.com/siduck/dotfiles.git]
checkout = git clone https://github.com/siduck/dotfiles.git dotfiles.git
[$HOME/src/github.com/doctorfree/dotfiles-linux.git]
checkout = git clone https://github.com/doctorfree/dotfiles-linux.git dotfiles-linux.git
[$HOME/src/gitlab.com/dwt1/dotfiles.git]
checkout = git clone git@gitlab.com:dwt1/dotfiles.git dotfiles.git
[$HOME/src/gitlab.com/thelinuxcast/my-dots.git]
checkout = git clone git@gitlab.com:thelinuxcast/my-dots.git my-dots.git
[$HOME/src/github.com/ygalblum/linux-environment.git]
checkout = git clone https://github.com/ygalblum/linux-environment.git linux-environment.git

[$HOME/src/github.com/tangledhelix/dotfiles.git]
checkout = git clone https://github.com/tangledhelix/dotfiles.git dotfiles.git

#vim
[$HOME/src/github.com/RobMulla/vim_settings.git]
checkout = git clone https://github.com/RobMulla/vim_settings.git vim_settings.git

#tmux
[$HOME/src/github.com/gpakosz/.tmux.git]
checkout = git clone https://github.com/gpakosz/.tmux.git .tmux.git

#scripts
[$HOME/src/github.com/bbugyi200/scripts.git]
checkout = git clone https://github.com/bbugyi200/scripts.git scripts.git
[$HOME/src/github.com/ronniedroid/getnf.git]
checkout = git clone https://github.com/ronniedroid/getnf.git getnf.git
[$HOME/src/github.com/yusuphwickama/wickerscripts.git]
checkout = git clone https://github.com/yusuphwickama/wickerscripts.git wickerscripts.git
[$HOME/src/github.com/ksk0/nvim-install.git]
checkout = git clone https://github.com/ksk0/nvim-install.git nvim-install.git
[$HOME/src/github.com/pystardust/ytfzf.git]
checkout = git clone https://github.com/pystardust/ytfzf.git ytfzf.git

# vi: ft=ini syntax=bash
